[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]serSettings/

Packages/com.unity.package-manager/
Library/PackageCache/

*.csproj
*.sln
*.user
*.pidb
*.pdb
*.svd
*.opendb
*.VC.db

/Temp/
Temp/

Assets/Firebase/Plugins/x86_64/FirebaseCppApp-12_8_0.so
Assets/Firebase/Plugins/x86_64/FirebaseCppApp-12_8_0.bundle
Assets/Firebase/Plugins/x86_64/